package ${packageName}.service.impl;

import ${packageName}.dao.${table.className}Dao;
import ${packageName}.domain.${table.className};
import ${packageName}.service.${table.className}Service;
import com.jd.asset.mybatis.service.AbstractBaseService;
import org.springframework.stereotype.Service;

/**
 * @author ${user}
 * @version 1.0
 * @since ${date}
 */
@Service
public class ${table.className}ServiceImpl extends AbstractBaseService<${table.className}, ${table.className}Dao> implements ${table.className}Service {
}
